.products_page{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2px;
    gap: 10px;
    
    div{
        display: block;
        border: 2px solid black;
        width: clamp(200px 50% 400px);
        gap: 1%;
    }
    button{display: block;}
}